@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background: url("../images/hosp-background.png") ;
    /* filter: blur(5px); */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    z-index: 100;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width:100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color:#e4e4e4;
    padding-left: 10px;
}

.search-bar input::placeholder{
    color: #e4e4e4;

}

.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}

.background{
    width: 100%;
    height: 100vh;
    background: url("../images/hosp-background.png") no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url("../images/hosp-background.png") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: #020410;
    opacity: 0.8;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo{
    font-size: 30px;
}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i{
    transform:scale(1.2)
}

.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
}

.logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(3px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
    font-weight: bolder;
}

/*------------------------------ADMIN--------------------------------------*/

.header1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.container1{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    /* background: url("../images/admin-back.png") no-repeat; */
    /* background: #e4e4e4; */
    opacity: 0.8;
    /* opacity: 0.5; */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.container .content1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.add-patient-details{
    display: flex;
    gap: 10px;
}

.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content1 img{
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card1{
    background: #020410;
    width: 200px;
    margin-right: 30px;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
}

.inner-card{
    padding: 20px;
}

.inner-card h4, .inner-card p{
    color: #e4e4e4;
}

.inner-card button{
    background: #e4e4e4;
    width: 50px;
    border-radius: 20px;
    padding: 3px;
    /* text-decoration: none; */
}

.link{
    text-decoration: none;
    color: #020410;
}

.inner-card button:hover, .link:hover{
    background-color:rgb(13, 13, 13);
    color: white;
}

/* -----------------------------------Manage Pages-----------------------------------  */

.container2{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    /* background: url("../images/admin-back.png") no-repeat; */
    /* background: #e4e4e4; */
    opacity: 0.8;
    /* opacity: 0.5; */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.content2{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.forms{
    background: #020410;
    border-radius: 20px;
    padding: 20px;
}

.content2{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
}

.content2 img{
    /* width: 200px; */
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card2{
    background: #020410;
    width: 300px;
    margin-right: 30px;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
}

.card20{
    background: #020410;
    width: 465px;
    margin-right: 30px;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
}

.add-img{
    width: 465px;
}

.card2 img{
    width: 300px;
    height: 250px;
}

.inner-card{
    display: flex;
    flex-direction: column;
}

.inner-card input{
    border-radius: 20px;
    padding: 5px;
}

.submit-button{
    padding: 10px !important;
    width: 260px !important;
}

.submit-button1{
    padding: 10px !important;
    width: 425px !important;
}

.submit-remove:hover{
    background: rgb(228, 86, 86) !important;
}

.submit-add:hover{
    background: rgb(86, 228, 88) !important;
}

.list-content{
    margin: 30px;
    padding: 30px;
    background: #f1f2f5;
    border-radius: 20px;
}

/* ------------------------------Doctor Portal---------------------------------------- */

.header2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    /* background: transparent; */
    display: flex;
    /* justify-content: space-between; */
    justify-content:center;
    align-items: center;
    z-index: 100;
}

.welcome-doc{
    display: inline-block;
    margin-bottom: 20px;
    font-weight:bolder;
    padding: 10px;
    border-radius: 20px;
}

.welcome-doc-div{
    display: flex;
    justify-content: center;
}

.patient-list-title{
    display: flex;
    justify-content: center;
    background: #020410;
    padding: 10px;
    border-radius: 10px;
    color: #e4e4e4;
}

.patient-card{
    background-color: #e4e4e4;
    padding: 30px;
    border-radius: 20px;
}

.patient-card button{
    background: #6a6a6b;
    padding: 5px;
    border-radius: 15px;
}

.patient-card button:hover{
    background: rgb(86, 228, 88);
}

.addContactTriggerButton{
    background: #e4e4e4;
    width: 700px;
    margin: 50px;
    padding: 30px;
    border-radius: 20px;
    font-weight: bolder;
}

.addContactTriggerButton:hover{
    background: #020410;
    color: #e4e4e4;
}

.addContactTriggerButton1{
    display: flex;
    justify-content: center;
}

.background1{
    width: 100%;
    height: 100vh;
    background: url("../images/hosp-background.png");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.background2{
    width: 100%;
    height: 100vh;
    background: url("../images/hosp-background.png");
    /* background-size: cover; */
    background-position: center;
    filter: blur(5px);
}

.container3{
    /* position: absolute; */
    /* position: relative; */
    position: absolute;
    top: 135%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    /* background: url("../images/admin-back.png") no-repeat; */
    /* background: #e4e4e4; */
    opacity: 0.8;
    /* opacity: 0.5; */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.report-contents{
    background: #e4e4e4;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.ipfs-upload{
    justify-content: center;
}
.ipfs-upload a{
    background: #e4e4e4;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
}
.ipfs-uri{
    display: flex;
    justify-content: center;
}

/* ------------------------------------Pharm---------------------------------------------- */

.deliver-meds{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin: 10px;
}

.deliver-meds input{
    border-radius: 10px;
    padding: 10px;
}

.deliver-button:hover{
    background: rgb(86, 228, 88);
}

/* -------------------------------------Patient------------------------------------ */

.patient-card1{
    background-color: #e4e4e4;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
    width: 100%;
}

.details-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}